@model int
<div class="row">
<div class="col-6">
    <input type="submit" value="Update" class="btn btn-primary" asp-route-id="@Model" />
</div>
<div class="col-6">
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>
</div>