@model IEnumerable<RawMaterial>
@{
}
<br />
<br />

<div class="border backgroundWhite">
    
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <h4 class="text-info">Raw Material</h4>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.name)
                    </th>
                    <th>
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                        <tr>
                            <td>

                                @Html.DisplayFor(m => item.name)
                            </td>
                            <td>
                                <partial name="_tableButtonPartial" model="item.Id" />
                            </td>
                        </tr>
                }
            </table>
        }
        else
        {
            <p>No Raw Material Exists</p>
        }
    </div>
</div>

