@model PROJECT.Models.FinishedProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Finished Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label asp-for="type" class="col-form-label">Type</label>

                <div class="col-8 form-group row">
                    <input class="col-3" type="radio" value="New" asp-for="type" /> New
                    <input class="col-3" type="radio" value="Stock" asp-for="type" />Stock
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>

            <partial name="_EditAndBacktoListButton" model="Model.Id" />

        </form>
    </div>
</div>